<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard">
        <img src="https://image.flaticon.com/icons/png/512/1205/1205772.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
        ¡Pizza Fiesta!
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/pizzas">¡Pizzas!</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/pizzas/create">Crea tu Pizza</a>
        </li>
        
      </ul>
      <!-- <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()"><a class="btn btn-outline-primary" routerLink="/login">Iniciar Sesión</a></li>

        <li class="dropdown" *ngIf="authService.isAuthenticated()">
          <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{ authService.usuario.username }}
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button (click)="logout()" class="dropdown-item" type="submit">Cerrar Sesión</button>
          </ul>
        </li>
      </ul> -->

      <div class="d-flex float-end">
      
        <button *ngIf="!sessionService.getSession()" routerLink="/login" class="btn btn-outline-success">
          <i class="fa fa-user" aria-hidden="true"></i> Identificate
        </button>

        <button *ngIf="sessionService.getSession()" class="btn btn-outline-danger me-2 position-relative"  
        data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="getCart()">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cesta 
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">{{cartCounter}} <span class="visually-hidden">unread messages</span></span>
        </button>
        <!-- Default dropstart button -->
        <div *ngIf="sessionService.getSession()" class="btn-group dropstart ms-2">
          <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> {{sessionService.getSession().username}}
          </button>
          <ul class="dropdown-menu">
            <button class="dropdown-item" type="submit" (click)="logout()">Cerrar Sesión</button>
          </ul>
        </div>
  
  
      </div>
      
    </div>
    
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cesta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <table class="table">
            <thead>
              <tr>

                <th>Pizza</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th><i class="fa fa-trash" aria-hidden="true"></i>
                </th>
                
              </tr>

            </thead>

            <tbody>

              <tr *ngFor="let cart of cartData">
                <td>
                  <img class="thumbnail" [src]="cart.photo" alt="Pizza creado por usuario">
                </td>
                <td>{{ cart.name }}</td>
                <td>{{ cart.value }}€</td>
                <td> {{ cart.quantity }}</td>
                <td>{{ cart.value * cart.quantity }}€</td>
                <td>
                  <button class="btn btn-outline-danger" (click)="removeItem(cart.id, cart.name, cart.value * cart.quantity)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="justify-content-center d-flex">
            <span><strong>Nº de Pizzas:</strong> {{ cartCounter }}</span>
          </div>
          <div class="justify-content-center d-flex">
            <span> <strong>Total:</strong> {{ total }}€</span>
          </div>
          
      </div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
           Close
        </button>
        <button type="button" class="btn btn-danger"
        (click)="createOrder()">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
           Realizar Pedido
        </button>
      </div>
    </div>
  </div>
</div>
