<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card border-danger">
        <div class="card-header bg-danger text-white text-center">Identifícate</div>
        <div class="card-body">

          <div class="row justify-content-center">

            <div class="mb-3 col-sm-6">
              <label for="username" class="form-label fw-bold">Usuario o Correo</label>
              <input type="text" class="form-control" id="username"
               placeholder="Juanito667 o juanito667@correo.com"
               [(ngModel)]="userData.username" autofocus required>
            </div>

          </div>

          <div class="row justify-content-center">

            <div class="mb-3 col-sm-6">
              <label for="password" class="form-label fw-bold">Contraseña</label>
              <input type="password" class="form-control" id="password" 
              placeholder="*******" [(ngModel)]="userData.password"
              (keydown.enter)="onKeydown($event)" required>
            </div>

          </div>

          <div class="mb-3 col-sm-12 text-center">

            <span>¿No tienes cuenta?</span><br>
            <a routerLink="/register" class="text-center text-danger"> Regístrate aquí</a>

          </div>

          <div class="mb-3 col-sm-12 text-center">

            <button (click)="login()" class="btn btn-danger col-sm-6">¡Que Empiece la Fiesta!</button>

          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <span class="form-text text-center">NOTA</span><br>
    <span class="form-text text-center text-break">Este sistema esta realizado con propositos educativos. Todo el contenido que usted vea aqui es completamente ficticio. <br> No use este proyecto con fines lucrativos puesto a que no se maneja la seguridad adecuada de datos establecida por la ley. <br>Trate de utilizar a medida de lo posible datos ficticios y no los suyos propios o de terceros. <br> Por favor evite lo mas posible de no poner contenido que pueda ser sensible en las url. <br>&copy; Jose Melian </span><br>
  </div>
  

</div>

