<div class="card bg-light">
  <div class="card-header">Pizza: Detalles</div>
  <div class="card-body">
      <h4 class="card-title">
          <a [routerLink]="['/pizzas']" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver
          </a>
      </h4>

      <div class="row">

        <img src="" alt="">

      </div>

      <ul class="list-group my-2">

          <li class="list-group-item list-group-item-danger">Nombre</li>
          <li class="list-group-item">Nombre: </li>
          <li class="list-group-item">Descripción: </li>
          <li class="list-group-item">Ingredientes: </li>
          <li class="list-group-item">Valor: </li>
          <li class="list-group-item">Creado Por: </li>
          <li class="list-group-item">Creado El: </li>
          <li class="list-group-item">Actualizado Por: </li>
          <li class="list-group-item">Actualizado El: </li>

      </ul>
  </div>
</div>