.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.caption-bg{
    background-color: var(--red);
}

.info {
    background-color: var(--red);
    height: 100px;
    color: white;

}