<!-- Carrusel -->
<div id="carouselExampleIndicators" class=" container carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1622455331494-966b1b4eda44?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                class="d-block w-100" alt="promotion image, solid background">
            <div class="caption-bg carousel-caption d-none d-md-block">
                <h5>OFERTA 2 X 1</h5>
                <p>¡Las llevamos a donde nos pidas!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                class="d-block w-100" alt="pizza">
            <div class="caption-bg carousel-caption d-none d-md-block">
                <h5>¡TUS PROPIAS PIZZAS!</h5>
                <p>Creatividad + Ingredientes de optima calidad = ¡Felicidad!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1428895009712-de9e58a18409?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                class="d-block w-100" alt="hands with fluor">
            <div class="caption-bg carousel-caption d-none d-md-block">
                <h5>HECHAS A TU MEDIDA</h5>
                <p>Los mejores especialista en pizza</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carrusel End -->

<!-- web content -->
<div class="container">

    <!-- lastest added  -->
    <div class="row my-3">
        <h4 class="text-center">¡Las ultimas 4 creaciones!</h4>

        <div class="row justify-content-center my-2">

            <div class="col-sm-6">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://images.unsplash.com/photo-1571066811602-716837d681de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1431&q=80"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                                <button type="button" class="btn btn-danger" [routerLink]="['/pizzas/details/1']">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Ver
                                </button>

                                <div class="row my-2">
                                    <div class="col-5">

                                        <button type="button" class="btn btn-success">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            Añadir
                                        </button>
                                    </div>
                                    <div class="col-5">
                                        <button type="button" class="btn btn-secondary"
                                        (click)="deletePizza('id', 'pizza')">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Borrar
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://images.unsplash.com/photo-1571066811602-716837d681de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1431&q=80"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://images.unsplash.com/photo-1571066811602-716837d681de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1431&q=80"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://images.unsplash.com/photo-1571066811602-716837d681de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1431&q=80"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <!-- info -->

    <div class="container-fluid info d-flex">

        <div class="my-4 d-flex">
            <img src="https://image.flaticon.com/icons/png/512/1205/1205772.png" alt="pizza fiesta logo" width="50"
                height="50" class="d-inline-block align-text-top">
            <h3 class="my-1">¡Pizza Fiesta!</h3>

            <img src="https://image.flaticon.com/icons/png/512/203/203059.png" alt="spain flag" width="50" height="50"
                class="ms-4">
            <h4 class="my-1">922 66 94 20</h4>

            <div class="ms-5">
                <h1 class="ms-5">
                    <i class="fa fa-twitter-square ms-5" aria-hidden="true"></i>
                    <i class="fa fa-instagram ms-5" aria-hidden="true"></i>
                    <i class="fa fa-facebook-official ms-5" aria-hidden="true"></i>

                </h1>

            </div>


        </div>




    </div>
</div>