<div class="container">

    <div class="row justify-content-center my-5">
        <div class="col-sm-6">
            <!-- <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="La super pizza suprema" aria-label="Username" aria-describedby="basic-addon1">
              </div> -->
              <h1 class="text-center">Todas las creaciones de nuestra comunidad</h1>
        </div>
    </div>

    <div class="row justify-content-center my-5">

        <div *ngFor="let pizza of pizzas" class="col-sm-6">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
            
                        <img [src]="pizza.photo"
                            class="img-fluid rounded-start thumbnail"
                            alt="Pizza creado por usuario" >
             
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize">{{pizza.name}}</h5>
                            <p class="card-text text-capitalize">{{pizza.description}}</p>

                            
                            <span class="text-center text-danger">{{pizza.value}}€</span><br>
                            <span class="text-center">Creado Por: {{pizza.created_by_username}}</span>
                            <p class="card-text"><small class="text-muted">{{pizza.created_at | date }}</small></p>

                            <hr>

                            <div class="row my-4">
                                <div class="col-5">
                                    <button type="button" class="btn btn-danger" [routerLink]="['/pizzas/details/',pizza.id]">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        Ver
                                    </button>
                                </div>

                                <div class="col-5">
                                    <button type="button" class="btn btn-warning" [routerLink]="['/pizzas/edit/',pizza.id]">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        Editar
                                    </button>
                                </div>                                    
                            </div>

                            <div class="row my-4">
                                <div class="col-5">

                                    <button type="button" class="btn btn-success" (click)="addToCart(pizza.id, pizza.name)">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        Añadir
                                    </button>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-secondary"
                                    (click)="deletePizza(pizza.id, pizza.name)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Borrar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>

</div>